# Pandas DataFrame

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
names = ["Mohamed", "Yousef", "Mahmmoud","Aya", "Alaa", "Sarah"]
math = [100, 90, 85, 75, 95, 90]
statistics = [95, 95, 90, 82, 97, 89]
probability = [92, 90, 85, 97, 85, 93]

# `Create` on Pandas Series

### Create a `DataFrame` using `data`=data_array ,`index`=names , `columns` =["Math","statistics","probability"]

In [ ]:
data_array=[]
for i in range (0,6) :
  data_array.append([math[i],statistics[i],probability[i]])
print(data_array)

[[100, 95, 92], [90, 95, 90], [85, 90, 85], [75, 82, 97], [95, 97, 85], [90, 89, 93]]

In [ ]:
df=pd.DataFrame(data_array,columns=["Math","Statistics","probability"])
df.index=names
df

          Math  Statistics  probability
Mohamed    100          95           92
Yousef      90          95           90
Mahmmoud    85          90           85
Aya         75          82           97
Alaa        95          97           85
Sarah       90          89           93

## Create a `DataFrame` using `data`=data_dict ,`index`=names ?

In [ ]:

data_dict={}
data_dict["Math"]=math 
data_dict["statistics"]=statistics 
data_dict["probability"]=probability 
data_dict

{'Math': [100, 90, 85, 75, 95, 90],
 'probability': [92, 90, 85, 97, 85, 93],
 'statistics': [95, 95, 90, 82, 97, 89]}

In [ ]:
df=pd.DataFrame(data_dict)
df.index=names
df

          Math  statistics  probability
Mohamed    100          95           92
Yousef      90          95           90
Mahmmoud    85          90           85
Aya         75          82           97
Alaa        95          97           85
Sarah       90          89           93

# `Operations` on Pandas DataFrame

          Math  statistics  probability
Mohamed    100          95           92
Yousef      90          95           90
Mahmmoud    85          90           85
Aya         75          82           97
Alaa        95          97           85
Sarah       90          89           93

## Get degrees for subject `math` ?

In [ ]:
df["Math"]

Mohamed     100
Yousef       90
Mahmmoud     85
Aya          75
Alaa         95
Sarah        90
Name: Math, dtype: int64

## Get degrees for subjects `"Math"` and `"Probably"` ?

In [ ]:
df[["Math","probability"]]

          Math  probability
Mohamed    100           92
Yousef      90           90
Mahmmoud    85           85
Aya         75           97
Alaa        95           85
Sarah       90           93

## Get degrees of `Yousef` ?

In [ ]:
df.loc["Yousef"]

Math           90
statistics     95
probability    90
Name: Yousef, dtype: int64

## Get degrees of `Yousef` in subject `"probability"` ?

In [ ]:
df.loc["Yousef",["probability"]]

probability    90
Name: Yousef, dtype: int64

## Get degrees of `Yousef` in subjects `"math"` and `"probability"` ?

In [ ]:
df.loc["Yousef",["probability","Math"]]

probability    90
Math           90
Name: Yousef, dtype: int64

## Get degrees of `Student` Number `5`  ?

In [ ]:
df.iloc[4]

Math           95
statistics     97
probability    85
Name: Alaa, dtype: int64

## Get degrees of `Students` `1,2,3,4,5` ?

In [ ]:
df.iloc[0:5]

          Math  statistics  probability
Mohamed    100          95           92
Yousef      90          95           90
Mahmmoud    85          90           85
Aya         75          82           97
Alaa        95          97           85

## Get degrees of `Students` `2,4,6` ?

In [ ]:
df.iloc[1:7:2]

        Math  statistics  probability
Yousef    90          95           90
Aya       75          82           97
Sarah     90          89           93

## Get degrees of `Student`  `the last` ?

In [ ]:
df.iloc[-1]

Math           90
statistics     89
probability    93
Name: Sarah, dtype: int64

## Get degrees of `Students` `1,3,4,5` in subjects `1` and `2` ?

In [ ]:
df.iloc[[0,2,3,4],[0,1]]

          Math  statistics
Mohamed    100          95
Mahmmoud    85          90
Aya         75          82
Alaa        95          97

## Get degrees of `Students` `1,3,4,5` in subject  `Probability` ?

In [ ]:
df2=df.iloc[[0,2,3,4]]
df2.loc[:,"probability"]

Mohamed     92
Mahmmoud    85
Aya         97
Alaa        85
Name: probability, dtype: int64

# `THE DATA`

## Get the `first` five rows of data ?

In [ ]:
df.iloc[0:5]

          Math  statistics  probability
Mohamed    100          95           92
Yousef      90          95           90
Mahmmoud    85          90           85
Aya         75          82           97
Alaa        95          97           85

## Get the `last` five rows of data ?

In [ ]:
df.tail(5)

          Math  statistics  probability
Yousef      90          95           90
Mahmmoud    85          90           85
Aya         75          82           97
Alaa        95          97           85
Sarah       90          89           93

## Get the `names` of columns in List ?

In [ ]:
df.head(0)

Empty DataFrame
Columns: [Math, statistics, probability]
Index: []

## Get the `names` of Rows  in List ?

In [ ]:
df.index

Index(['Mohamed', 'Yousef', 'Mahmmoud', 'Aya', 'Alaa', 'Sarah'], dtype='object')

# `THE Conditions`

## Who got ` 90` or` higher`  in any subject?

In [ ]:
#np.where(df>90,1,0)
df[df.iloc[:]>90]

           Math  statistics  probability
Mohamed   100.0        95.0         92.0
Yousef      NaN        95.0          NaN
Mahmmoud    NaN         NaN          NaN
Aya         NaN         NaN         97.0
Alaa       95.0        97.0          NaN
Sarah       NaN         NaN         93.0

## Who got ` 90` or` higher`  in  subject `Statistics`?

In [ ]:
#np.where(df>90,1,0)
df4=df[df.iloc[:]>90 ]
df4.loc[:,"statistics"]

Mohamed     95.0
Yousef      95.0
Mahmmoud     NaN
Aya          NaN
Alaa        97.0
Sarah        NaN
Name: statistics, dtype: float64

# `The Some Statistics`

## what `name` of the subject has a `higher mean` for degrees of students?

In [ ]:
means=df.mean(axis=0)
means.idxmax()

'statistics'

## what `name` of the subject has a `higher standard deviation` for degrees of students?

In [ ]:
means=df.std(axis=0)
means.idxmax()

'Math'

## what `name` of the subject has a `less standard deviation` for degrees of students?

In [ ]:
means=df.std(axis=0)
means.idxmin()

'probability'

## what `name` of the student has a `higher mean` for degrees ?

In [ ]:
means=df.mean(axis=1)
means.idxmax()

'Mohamed'

## what `name` of the student has a `higher standard deviation` for degrees ?

In [ ]:
means=df.std(axis=1)
means.idxmax()

'Aya'

## what `name` of the student has a `less standard deviation` for degrees?

In [ ]:
means=df.std(axis=1)
means.idxmin()

'Sarah'

## Statistical `summary` of all data?

In [ ]:
df.describe()

             Math  statistics  probability
count    6.000000    6.000000     6.000000
mean    89.166667   91.333333    90.333333
std      8.612007    5.537749     4.718757
min     75.000000   82.000000    85.000000
25%     86.250000   89.250000    86.250000
50%     90.000000   92.500000    91.000000
75%     93.750000   95.000000    92.750000
max    100.000000   97.000000    97.000000

## Edit data of student `Aya` in subject `Math to 88`?

In [ ]:
df.at['Aya','Math']=88
df

          Math  statistics  probability
Mohamed    100          95           92
Yousef      90          95           90
Mahmmoud    85          90           85
Aya         88          82           97
Alaa        95          97           85
Sarah       90          89           93

## Edit data of student `Mahmmoud` in subjects `probability to 87` and `Math to 93`?

In [ ]:
#df.drop(df.index[6])


df.at['Mahmmoud','Math']=93
df.at['Mahmmoud','probability']=87
df

          Math  statistics  probability
Mohamed    100          95           92
Yousef      90          95           90
Mahmmoud    93          90           87
Aya         75          82           97
Alaa        95          97           85
Sarah       90          89           93

## `Enter` data new of subject `English`?
`Mohamed=80`, `Yousef=85`, `Mahmmoud=98`, `Aya=95`, `Alaa=90`, `Sarah=93`

In [ ]:
df['English']=[80,85,98,95,90,93]
df

          Math  statistics  probability  English
Mohamed    100          95           92       80
Yousef      90          95           90       85
Mahmmoud    93          90           87       98
Aya         75          82           97       95
Alaa        95          97           85       90
Sarah       90          89           93       93

## `Enter` data new of student `Ahmed`?
`math=90`, `statistics=92`, `probability=85`,`English=80`

In [ ]:
newrow={'Math':90,'statistics':92,'probability':85,'English':80}
df.append(pd.DataFrame([newrow],index=["Ahmed"],columns=df.columns))

          Math  statistics  probability  English
Mohamed    100          95           92       80
Yousef      90          95           90       85
Mahmmoud    93          90           87       98
Aya         75          82           97       95
Alaa        95          97           85       90
Sarah       90          89           93       93
Ahmed       90          92           85       80

# Good Job