# Pandas (series)

## import Numpy and pandas?

In [ ]:
import numpy as np 
import pandas as pd

In [ ]:
name = ['marwa', 'nada', 'asmaa']
degree = [85, 90, 97]

# `Create` on Pandas Series

## Create a `Series` using `list` "degree" ?

In [ ]:
pd.Series(degree)

0    85
1    90
2    97
dtype: int64

## Create a `Series` using `Array` "deg_array" ?

In [ ]:
deg_array=np.array(degree)
pd.Series(deg_array)

0    85
1    90
2    97
dtype: int64

## Create a `Series` using `Dictionary` "deg_dic" ?

In [ ]:

deg_dic={name[i]:degree[i] for i in range (len(name))}
deg_dic

{'asmaa': 97, 'marwa': 85, 'nada': 90}

In [ ]:
pd.Series(deg_dic)

marwa    85
nada     90
asmaa    97
dtype: int64

## Create a `Series` using `Lists` data="degree" , index="name" ?

In [ ]:
pd.Series(degree,index=name)

marwa    85
nada     90
asmaa    97
dtype: int64

# `Operations` on Pandas Series

In [ ]:
names=['Mohamed','Yousef','Mahmoud','Aya','Alaa','Sarah']
degrees=[100,90,85,75,95,90]
ser1=pd.Series(degrees,index=names)
ser1

Mohamed    100
Yousef      90
Mahmoud     85
Aya         75
Alaa        95
Sarah       90
dtype: int64

## Get `degree` of "Mohamed" ?

In [ ]:

ser1['Mohamed']

100

## Get `percentage for degree` of "Alaa" ?

In [ ]:
ser1['Alaa']/100

0.95

## Who those got degrees `above from 90` ?

In [ ]:
ser1.where(ser1>90)

Mohamed    100.0
Yousef       NaN
Mahmoud      NaN
Aya          NaN
Alaa        95.0
Sarah        NaN
dtype: float64

## Who got the `Max` of degrees?

In [ ]:
ser1.where(ser1==np.max(degrees))

Mohamed    100.0
Yousef       NaN
Mahmoud      NaN
Aya          NaN
Alaa         NaN
Sarah        NaN
dtype: float64

## Who got the `Min` of degree?

In [ ]:
ser1.where(ser1==np.min(degrees))

Mohamed     NaN
Yousef      NaN
Mahmoud     NaN
Aya        75.0
Alaa        NaN
Sarah       NaN
dtype: float64

## Get a the `Mean` of degrees?

In [ ]:
np.mean(degrees)

89.16666666666667

## Get a the `Median` of degrees?

In [ ]:
np.median(degrees)

90.0

## Get a degree `most frequent` ?

In [ ]:
np.bincount(degrees).argmax()

90

## Get a the `standard deviation` of degrees?

In [ ]:
np.std(degrees)

7.8616509433805035

## Get a degrees  in `List`?

In [ ]:
degrees

[100, 90, 85, 75, 95, 90]

# Good Job